/* For pinned cells (usually have data-pinned="true") */
.highlight-column::before {
  background-color: rgb(236, 242, 254) !important;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* For pinned cells (usually have data-pinned="true") */
.highlight-header::before {
  background-color: #b4b4b4 !important;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
